---
title: P.V. Dr East
---

<!-- Hero Slideshow -->

<div class="sect-banner">
	<div class="hero"></div>
	<div class="title-vert">
	<h3>Coming Soon to Rancho PV...</h3>
	<h1><span>30389<br>P.V. Dr. East</span></h1>
	<h3>A new project from Maupin Develpment</h3>
	</div>
</div>

<!-- About -->

<div class="side-image">
  <!-- <div class="images-wrapper"></div> -->
    <div class="side-image-content">
      <h4>Our Vision</h4>
      <h1>30389 Palos Verdes Dr. East</h1>
      <p>Our vision for 30389 Palos Verdes Dr. East. in Rancho Palos Verdes. A new project from Maupin Development. Two Mediterranean inspired custom homes. In a timeless and elegant style that will compliment the surrounding community. Each sitting on a half acre lot. With a site plan created to emphasize the unrivaled panoramic views, spanning from the foothills to the sea. These unique residences will undoubtedly be in high demand.</p>
  </div>
</div>

<!-- render -->

<div><%= image_tag 'hero.jpg', class: 'large-img'%></div>

<!-- Email List -->

<div class="mailing">
	<h1>Join the interest list</h1>
	<p>Subscribe to receive news & updates regarding this forthcoming property.</p>
	<div class="mailform">
		<!-- Begin MailChimp Signup Form -->
		<div id="mc_embed_signup">
			<form action="//davidmaupin.us9.list-manage.com/subscribe/post?u=2b51bf18a6feb69e9e41ebc4e&amp;id=401d5c7b3d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate><form action="//davidmaupin.us9.list-manage.com/subscribe/post?u=2b51bf18a6feb69e9e41ebc4e&amp;id=ccc8a06be9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div> 
			<div id="mc_embed_signup_scroll">
				<div class="mc-field-group">
					<!-- <label for="mce-EMAIL">Email Address </label> -->
				<input type="email" name="EMAIL" class="required email" id="mce-EMAIL"><label class="label-style" for="mce-EMAIL" id="the-label">Email</label>
				</div>
			   <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;" aria-hidden="true">
					<input type="text" name="b_2b51bf18a6feb69e9e41ebc4e_401d5c7b3d" tabindex="-1" value="">
				</div>
				<div class="clear">
					<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button shadow">
				</div>
			</div>
			</form>
		</div>
		<!--End mc_embed_signup-->
	</div>
</div>

<div class="side-image">
  <!-- <div class="images-wrapper"></div> -->
    <div class="side-image-content">
      <h4>Our Vision</h4>
      <h1>Site Plan</h1>
			<!--<p></p> -->
  </div>
</div>

<div><%= image_tag 'elevation.png', class: 'large-img'%></div>

<!-- Home Models/Unslider -->

<!-- Plan One -->

<div class="side-image">
  <!-- <div class="images-wrapper"></div> -->
    <div class="side-image-content">
      <h4>Our Vision</h4>
      <h1>Panormaic Views</h1>
			<!--<p></p> -->
  </div>
</div>

<div class="my-slider">
  <ul>
    <li><div><%= image_tag 'view2.jpg', class: 'prop-img' %></div></li>
    <li><div><%= image_tag 'view1.jpg', class: 'prop-img' %></div></li>
  </ul>
</div>

<!-- Map -->

<div class="side-image">
  <!-- <div class="images-wrapper"></div> -->
    <div class="side-image-content">
      <h4>Our Vision</h4>
      <h1>Location</h1>
			<!--<p></p> -->
  </div>
</div>

<div id="map_canvas"></div>

<!-- Offered by -->

<div class="side-image">
  <!-- <div class="images-wrapper"></div> -->
    <div class="side-image-content">
      <h4>Offered by</h4>
      <h1>Douglas Maupin & Maupin Development</h1>
      <p>Maupin Development, a leader in South Bay real estate for over 30 years.</p>
		  	<h2>
		  	<div>
		  		<i class="fa fa-phone-square contact-icon shadow"></i>
		  		<a href="tel://1-310-530-8457"> 310.293.4683</a>
		  	</div>
		  	<br>
		  	<div>
					<i class="fa fa-envelope contact-icon shadow"></i>
					<a href="mailto:dmaupin@maupinrealtors.com"> dmaupin@maupinrealtors.com</a>
				</div>
				</h2>
  </div>
</div>

<!-- Footer -->

<footer class="footer" role="contentinfo">
  <div class="footer-logo"><%= image_tag 'mr.svg' %></div>
  <div class="footer-links">
 	 <p>©2016 Maupin Development<br>23505 Crenshaw Blvd. Suite 208<br>Torrance, Ca. 90505</p>
  </div>

  <hr>

  <p>All information, pricing, features, terms, and amenities, are subject to change and prior sale at any time without notice or obligation. Drawings, pictures, photographs, video, square footages, floor plans, elevations, features, colors and sizes are approximate for illustration purposes only and will vary from the homes as built.</p>
  <div class="dingbat"><%= image_tag 'equal.png' %></div>
</footer>
